@*@using Web.ManagerApplication.Areas.Admin.Views.Shared.Components.Footer;
@using Web.ManagerApplication.Views.Shared.Components.Title;
@using Web.ManagerApplication.Views.Shared.Components.Sidebar
@using Web.ManagerApplication.Areas.Admin.Views.Shared.Components.Header;
@using Web.ManagerApplication.Areas.Admin.Views.Shared.Components.Logout;
@using Web.ManagerApplication.Views.Shared.Components.FormModal;
@using Web.ManagerApplication.Views.Shared.Components.ImageModal;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hệ thống quản trị</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Wide selection of cards with multiple styles, borders, actions and hover effects.">
    <meta name="msapplication-tap-highlight" content="no">
    <partial name="_Styles" />
</head>
<body>

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        @(await Component.InvokeAsync<HeaderAdminViewComponent>())
        <div class="app-main">
            @(await Component.InvokeAsync<SidebarViewComponent>())
            <div class="app-main__outer">
                <div class="app-main__inner">
                    @RenderBody()
                </div>
                @(await Component.InvokeAsync<FooterAdminViewComponent>())
            </div>

        </div>

        @(await Component.InvokeAsync<LogoutAdminViewComponent>())
        @(await Component.InvokeAsync<FormModalViewComponent>())
        @(await Component.InvokeAsync<ImageModalViewComponent>())
   
    </div>
    <partial name="_Scripts" />
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)
</body>
</html>*@