@using Web.ManagerApplication.Views.Shared.Components.FooterAdmin;
@using Web.ManagerApplication.Views.Shared.Components.Title;
@using Web.ManagerApplication.Areas.Selling.Views.Shared.Component.Sidebar
@using Web.ManagerApplication.Areas.Selling.Views.Shared.Components.HeaderSelling;
@using Web.ManagerApplication.Views.Shared.Components.LogoutAdmin;
@using Web.ManagerApplication.Views.Shared.Components.FormModal;
@using Web.ManagerApplication.Views.Shared.Components.ImageModal;
@{
    var a = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Wide selection of cards with multiple styles, borders, actions and hover effects.">
    <meta name="msapplication-tap-highlight" content="no">
   
    <partial name="Admin/_Styles" />
</head>
<body>

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        @(await Component.InvokeAsync<HeaderSellingViewComponent>())
        <div class="app-main">
            @(await Component.InvokeAsync<SidebarSellingViewComponent>())
            <div class="app-main__outer">
                @* @(await Component.InvokeAsync<TitleViewComponent>())*@@* BreadcrumbManager*@
                <div class="app-main__inner">
                    @RenderBody()
                </div>
                @(await Component.InvokeAsync<FooterAdminViewComponent>())
            </div>
        </div>

        @(await Component.InvokeAsync<LogoutAdminViewComponent>())
        @(await Component.InvokeAsync<FormModalViewComponent>())
        @(await Component.InvokeAsync<ImageModalViewComponent>())
        @*<partial name="AdminLTE/_LogoutModal" />
        <partial name="AdminLTE/Modals/_FormModal" />
        <partial name="AdminLTE/_ImageModal" />*@
    </div>
    <partial name="Admin/_Scripts" />
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)
</body>
</html>