@model List<Domain.Entities.Kitchen>


<div class="bodyListKitchenConfirm">
    <div class="title-header title-header-staff">
        <button class="btn-back"><i class="fas fa-arrow-left"></i></button>
        <span>Xử lý món @Model.First()?.RoomTableName</span>
    </div>
    <div class="btnFoodaction  mt-3 ml-2">
        <button class="btn-donecusfood btn btn-success" disabled><i class="fas fa-check"></i> Đã chuyển khách</button>
        <button class="btn-cancelFood btn btn-danger" disabled><i class="fas fa-trash-alt"></i> Hủy món</button>
       
    </div>
    <ul class="list-food">
        @foreach (var collection in Model.GroupBy(x => x.CreatedOn))
        {
            <div class="ele-time">
                <span class="timecr">@collection.Key.ToString("dd/MM/yyyy HH:mm:ss")</span>
            </div>
            @foreach (var item in collection)
            {
                <li data-id="@item.Id"  data-iditemorder="@item.IdItemOrder" data-status="@((int)item.Status)" data-name="@item.ProName" class="@(item.Status==Application.Enums.EnumStatusKitchenOrder.Processing?"isProcessing":"")">
                    <div class="content">
                        <span>
                            @item.ProName <b class="red">(@item.Quantity.ToString("#,0.##"))</b> - <i class="Cashername">@item.Cashername</i>
                        </span>
                        <small>
                            @item.Note
                        </small>
                    </div>
                    <div class="btn-actionconfirm">
                        <button class="btn-action"><i class="fas fa-check text-success"></i></button>
                     
                    </div>
                </li>
            }
        }
    </ul>
</div>