@model Domain.Entities.Invoice
@using Application.Enums
@{
    Layout = null;
    var checkvatproduct = Model.InvoiceItems.Count(x => x.VATRate>(int)NOVAT.NOVAT);
}
<div class="detail-invoice-pos">
    <div class="row">
        <div class="col-md-4">
            <table class="table-info-cus">
                <tr>
                    <td>Số hóa đơn</td>
                    <td>@Model.InvoiceCode</td>
                </tr>
                <tr>
                    <td>Thời gian đến </td>
                    <td>@Model.ArrivalDate?.ToString("dd/MM/yyyy HH:mm:ss")</td>
                </tr>
                <tr>
                    <td>Thời gian đi </td>
                    <td>@Model.PurchaseDate?.ToString("dd/MM/yyyy HH:mm:ss")</td>
                </tr>

                <tr>
                    <td colspan="2" class="text-left" style="    line-height: 24px;">
                        Khách hàng: <br />
                        <span class="text-primary">@(!string.IsNullOrEmpty(Model.CusName) ? Model.CusName : Model.Buyer)</span>
                    </td>
                </tr>

                @if (Model.OrderTable!=null)
                {
                     <tr>
                        <td>Mã odder </td>
                        <td> <span class="badge-primary badge-cus">@Model.OrderTable?.OrderTableCode</span></td>
                    </tr>
                }
               
            </table>
        </div>
        <div class="col-md-4">
            <table class="table-info-cus">
                <tr>
                    <td>Trạng thái</td>
                    <td>

                        @if (Model.Status == Application.Enums.EnumStatusInvoice.DA_THANH_TOAN)
                        {
                            <span class="badge badge-success">Đã thanh toán</span>
                        }else if (Model.Status == Application.Enums.EnumStatusInvoice.HUY_BO)
                        {
                            <span class="badge badge-danger">Đã hủy</span>
                        }
                        else
                        {

                            <span class="badge badge-danger">Chưa thanh toán</span>
                        }
                    </td>

                </tr>
                <tr>
                    <td>Loại hóa đơn </td>
                    <td>
                        @if (Model.IsBringBack)
                        {
                            @:Mang về
                        }
                        else
                        {
                            @: Tại bàn
                        }
                    </td>
                    
                </tr>
                @if (!string.IsNullOrEmpty(Model.TableNameArea))
                {
                    <tr>
                        <td>Khu vực </td>
                        <td>@Model.TableNameArea</td>
                    </tr>
                }
                <tr>
                    <td>Người nhận đơn</td>
                    <td>@Model.CasherName</td>
                </tr> 
                @if (ViewBag.ListInvoice!=null)
                {
                    <tr>
                        <td colspan="2" class="text-left" style="line-height: 24px;">
                            Hóa đơn liên quan: <br />
                        @foreach (var item in ViewBag.ListInvoice)
                        {
                                <span class="badge-primary badge-cus">@item</span>
                         } 
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.InvoiceCodePatern) && Model.IsMerge)
                {
                    <tr>
                       
                        <td>Hóa đơn gộp mới: </td>
                        <td><span class="badge-primary badge-cus">@Model.InvoiceCodePatern</span></td>
                    </tr>
                }
               
            </table>
        </div>
        <div class="col-md-4">
            <div class="historyInvoice">
                <h3>Lịch sử đơn</h3>
                <ul>
                    @foreach (var item in Model.HistoryInvoices)
                    {
                        <li><b>@item.CreateDate.ToString("dd/MM/yyyy HH:mm") - @item.Carsher </b><span>- @item.Name</span></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-12 mt-5">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        @*<th class="text-right">Đơn giá</th>*@
                        <th class="text-right">Đơn giá bán</th>
                        <th class="text-right">Giảm giá</th>
                        <th class="text-right">Thành tiền</th>
                        @if (checkvatproduct > 0)
                        {
                            <th class="text-right">Thuế suất</th>
                            <th class="text-right">Tiền thuế</th>
                            <th class="text-right">Tổng tiền</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InvoiceItems)
                    {
                        <tr>
                            <td>@item.Code</td>
                            <td>@item.Name</td>
                            <td class="text-center number3">@item.Quantity</td>
                         @*   <td class="text-right number3">@item.EntryPrice</td>*@
                            <td class="text-right number3">
                                @if (item.VATRate != (int)NOVAT.NOVAT && item.PriceNoVAT>0)
                                {
                                    @item.PriceNoVAT
                                }
                                else{
                                    @item.Price
                                }
                                </td>
                            <td class="text-right flex-colum-td">
                                <span class="number3">@item.DiscountAmount</span>
                                @if (item.Discount>0)
                                {
                                    <small class="required number3">@(item.Discount)%</small>
                                }
                            </td>
                            <td class="text-right font-weight-bold number3">@item.Total</td>
                            @if (checkvatproduct > 0)
                            {
                                <td class="text-right font-weight-bold number3">
                                    @if (item.VATRate != (int)NOVAT.NOVAT)
                                    {
                                        @item.VATRate
                                        
                                    }else{
                                       
                                            @:--
                                      
                                    }
                                    </td>
                                <td class="text-right font-weight-bold number3">@item.VATAmount</td>
                                <td class="text-right font-weight-bold number3">@item.Amonut</td>
                            }
                        </tr>
                    }
                    <tr>
                        <td colspan="2" class="text-right">Tổng</td>
                        <td class="text-center number3">@Model.InvoiceItems.Sum(x=>x.Quantity)</td>
                        <td class="text-right" colspan="@(checkvatproduct > 0?"5":"2")">Tổng tiền hàng</td>
                        <td class="text-right font-weight-bold text-success number3">@Model.Total</td>
                    </tr>
                </tbody>
                <tfoot>
                    @if (Model.DiscountAmount > 0)
                    {
                        <tr>
                            <td colspan="@(checkvatproduct > 0?"8":"5")" class="text-right">Giảm giá: @(Model.Discount > 0 ? Model.Discount+"%":"")</td>
                            <td class="text-right font-weight-bold number3">@Model.DiscountAmount</td>
                        </tr>
                    }
                    
                    @if (Model.VATRate != (int)Application.Enums.NOVAT.NOVAT)
                    {
                        <tr>
                            <td colspan="@(checkvatproduct > 0?"8":"5")" class="text-right">Thuế GTGT: @(Model.VATRate)%</td>
                            <td class="text-right font-weight-bold number3">@Model.VATAmount</td>
                        </tr>
                    }
                    else if (Model.VATAmount > 0)
                    {
                        <tr>
                            <td colspan="@(checkvatproduct > 0?"8":"5")" class="text-right">Tổng tiền thuế: </td>
                            <td class="text-right font-weight-bold number3">@Model.VATAmount</td>
                        </tr>
                    }
                    @if (Model.DiscountOther > 0)
                    {
                        <tr>
                            <td colspan="@(checkvatproduct > 0?"8":"5")" class="text-right">Giảm giá khác:</td>
                            <td class="text-right font-weight-bold number3">@Model.DiscountOther</td>
                        </tr>
                    }

                    <tr>
                        <td colspan="@(checkvatproduct > 0?"8":"5")" class="text-right">Khách cần thanh toán</td>
                        <td class="text-right font-weight-bold red number3">@Model.Amonut</td>
                    </tr>
                    <tr>
                        <td colspan="@(checkvatproduct > 0?"8":"5")" class="text-right">Khách đưa</td>
                        <td class="text-right font-weight-bold number3">@Model.AmountCusPayment</td>
                    </tr>
                    <tr>
                        <td colspan="@(checkvatproduct > 0?"8":"5")" class="text-right">Tiền thừa trả khách</td>
                        <td class="text-right font-weight-bold number3">@Model.AmountChangeCus</td>
                    </tr>
                    @if (Model.EInvoice != null)
                    {
                        <tr>
                            <td colspan="@(checkvatproduct > 0?"9":"6")" class="text-right">Thông tin xuất hóa đơn điện tử</td>
                        </tr>
                        <tr>
                            <td colspan="@(checkvatproduct > 0?"8":"5")" class="text-right">Tiền trước thuế</td>
                            <td class="text-right font-weight-bold number3">@Model.EInvoice.Total</td>
                        </tr>
                       
                        @if (Model.EInvoice.DiscountAmount > 0)
                        {
                            <tr>
                                <td colspan="@(checkvatproduct > 0?"8":"5")" class="text-right">Giảm giá: @(Model.EInvoice.Discount != 0 ? Model.EInvoice.Discount+"%":"")</td>
                                <td class="text-right font-weight-bold number3">@Model.EInvoice.DiscountAmount</td>
                            </tr>
                        }
                       <tr>
                            <td colspan="@(checkvatproduct > 0?"8":"5")" class="text-right">Thuế GTGT: @(Model.EInvoice.VATRate) %</td>
                            <td class="text-right font-weight-bold number3">@Model.EInvoice.VATAmount</td>
                        </tr>
                        <tr>
                            <td colspan="@(checkvatproduct > 0?"8":"5")" class="text-right">Tổng tiền</td>
                            <td class="text-right font-weight-bold number3">@Model.EInvoice.Amount</td>
                        </tr>
                    }
                   
                </tfoot>
            </table>
        </div>

    </div>
</div>
@Html.Hidden("invoiceid",Model.Secret)
@*@Html.Hidden("Status",(int)Model.Status)*@
@Html.HiddenFor(x=>x.Status)
@*<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="Second group">
        <button type="button" class="btn btn-primary">In hóa đơn</button>
    </div>
    <div class="btn-group" role="group" aria-label="Third group">
        <button type="button" class="btn btn-danger">Hủy đơn</button>
    </div>
</div>*@