@*https://gitbrent.github.io/bootstrap4-toggle/*@
@using Application.Hepers;
@model List<Domain.Entities.ConfigSystem>
@using Application.Enums
@{

    var user = User.Identity.GetUserClaimLogin();


    bool DELETEINVOICENOPAYMENT = false;//XÓA HÓA ĐƠN SAU KHI CHỌN XÓA
    string DELETEIPUBLISHMERGEINVOICEAFTER = "";//XÓA HÓA ĐƠN CŨ SAU KHI GỘP
    string ACCEPTPAYMENTDELETEINVOICE = "";
    string AUTOVATINPAYMENT = "";
    string PRINT_KET_NOI = "";
    bool PUBLISHMERGEINVOICE = false;
    bool PRINT_BAO_BEP = false;
    bool CANCEL_FOOD_PENDING_CONFIRM = false;
    bool DEFAULT_FOOD_CREATE_ORDER = false;
    bool DISCOUNT_PRICE_AFTER_TAX = false;
    foreach (var item in Model)
    {
        switch (item.Key)
        {
            case nameof(EnumConfigParameters.DEFAULT_FOOD_CREATE_ORDER):
                DEFAULT_FOOD_CREATE_ORDER = Convert.ToBoolean(item.Value);
                break; 
            case nameof(EnumConfigParameters.DISCOUNT_PRICE_AFTER_TAX):
                DISCOUNT_PRICE_AFTER_TAX = Convert.ToBoolean(item.Value);
                break;
            case nameof(EnumConfigParameters.DELETEINVOICENOPAYMENT):
                DELETEINVOICENOPAYMENT = Convert.ToBoolean(item.Value);
                break;
            case nameof(EnumConfigParameters.DELETEIPUBLISHMERGEINVOICEAFTER):
                if (Convert.ToBoolean(item.Value))
                {
                    DELETEIPUBLISHMERGEINVOICEAFTER = "checked";
                }
                break;
            case nameof(EnumConfigParameters.ACCEPTPAYMENTDELETEINVOICE):
                if (Convert.ToBoolean(item.Value))
                {
                    ACCEPTPAYMENTDELETEINVOICE = "checked";
                }
                break;
            case nameof(EnumConfigParameters.AUTOVATINPAYMENT):
                if (Convert.ToBoolean(item.Value))
                {
                    AUTOVATINPAYMENT = "checked";
                }
                break;
            case nameof(EnumConfigParameters.PUBLISHMERGEINVOICE):
                if (Convert.ToBoolean(item.Value))
                {
                    PUBLISHMERGEINVOICE = Convert.ToBoolean(item.Value);
                }
                break;
            case nameof(EnumConfigParameters.PRINT_BAO_BEP):
                if (Convert.ToBoolean(item.Value))
                {
                    PRINT_BAO_BEP = true;
                }
                break;
            case nameof(EnumConfigParameters.PRINT_KET_NOI):
                if (Convert.ToBoolean(item.Value))
                {
                    PRINT_KET_NOI = "checked";
                }
                break;
            case nameof(EnumConfigParameters.CANCEL_FOOD_PENDING_CONFIRM):
                if (Convert.ToBoolean(item.Value))
                {
                    CANCEL_FOOD_PENDING_CONFIRM = true;
                }
                break;
            default:
                break;
        }

    }
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/selling/restaurantsetting">< Trở lại thiết lập nhà hàng</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cấu hình thông tin bán hàng</li>
    </ol>
</nav>

<div class="card mt-3 ConfigSaleParameter">
    <div class="card-body">
        <div class="item-row">
            <div class="item-col">
                <div>
                    <span>
                        Xóa đơn khi chưa xuất VAT
                    </span>
                    <small>Tính năng cho phép xóa hóa đơn đã thanh toán nhưng chưa xuất hóa đơn điện tử khỏi hệ thống</small>
                </div>
                <div class="check-b">
                    <div class="content">
                    <span class="title">
                        Sử dụng tính năng xóa hóa đơn khi chưa xuất VAT
                    </span>
                    <label class="switch-custom">
                        <input type="checkbox" data-typevalue="BOOL" data-type="@EnumConfigParametersType.SELLINVOICE.ToString()" class="toggleConfigSaleParameter" data-parent="" data-key="@EnumConfigParameters.DELETEINVOICENOPAYMENT.ToString()" @(DELETEINVOICENOPAYMENT ? "checked" : "")>
                        <span class="slider"></span>
                    </label>
                </div>
                </div>
            </div>

            <div class="childrenconfig@(DELETEINVOICENOPAYMENT?"":" d-none")">
                <div class="item-col">
                    <div>
                        <span>
                            Ghi nhận doanh thu khi xóa hóa đơn
                        </span>
                        <small>Tính năng cho phép lựa chọn ghi nhận doanh hay không khi xóa hóa đơn, mặc định nếu không bật thì khi xóa hệ thống sẽ không ghi nhận doanh thu</small>
                    </div>
                    <div class="check-b">
                        <div class="content">
                        <span class="title">
                            Sử dụng tính năng ghi nhận doanh thu khi xóa hóa đơn
                        </span>
                        <label class="switch-custom">
                            <input type="checkbox" data-typevalue="BOOL" data-type="@EnumConfigParametersType.SELLINVOICE.ToString()" data-key="@EnumConfigParameters.ACCEPTPAYMENTDELETEINVOICE.ToString()" data-parent="@EnumConfigParameters.DELETEINVOICENOPAYMENT.ToString()" @ACCEPTPAYMENTDELETEINVOICE>
                            <span class="slider"></span>
                        </label>

                    </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="item-row">
            <!--Tính năng Mặc định xuất hóa đơn máy tính tiền khi thanh toán-->
            <div class="item-col">
                <div>
                    <span>
                        Mặc định xuất hóa đơn khi thanh toán
                    </span>
                    <small>Tính năng cho phép mặc định xuất hóa đơn khi thanh toán, ẩn cấu hình tùy chọn xuất hóa đơn tại màn hình bán hàng, nếu không bật tính năng này thì tại từng màn hình bán hàng cho phép lựa chọn xuất hóa đơn hay không</small>
                </div>
                <div class="check-b">
                    <div class="content">
                    <span class="title">
                        Sử dụng tính năng mặc định xuất hóa đơn khi thanh toán
                    </span>
                    <label class="switch-custom">
                        <input type="checkbox" data-typevalue="BOOL" data-type="@EnumConfigParametersType.SELLINVOICE.ToString()" class="toggleConfigSaleParameter" data-parent="" data-key="@EnumConfigParameters.AUTOVATINPAYMENT.ToString()" @AUTOVATINPAYMENT>
                        <span class="slider"></span>
                    </label>

                </div>
                </div>
            </div>
        </div>

        <!--Tính năng xuất gộp-->
        <div class="item-row">
            <div class="item-col">
                <div>
                    <span>
                        Tính năng xuất gộp HDDT
                    </span>
                    <small>Tính năng cho phép chọn nhiều hóa đơn bán hàng xuất gộp thành một hóa đơn điện tử</small>
                </div>
                <div class="check-b">
                    <div class="content">
                    <span class="title">
                        Sử dụng tính năng xuất gộp HDDT
                    </span>
                    <label class="switch-custom">
                        <input type="checkbox" data-typevalue="BOOL" data-type="@EnumConfigParametersType.SELLINVOICE.ToString()" class="toggleConfigSaleParameter" data-parent="" data-key="@EnumConfigParameters.PUBLISHMERGEINVOICE.ToString()" @(PUBLISHMERGEINVOICE ? "checked" : "")>
                        <span class="slider"></span>
                    </label>
                </div>
                </div>
            </div>
            <div class="childrenconfig@(PUBLISHMERGEINVOICE?"":" d-none")">
                <div class="item-col">
                    <div>
                        <span>
                            Xóa các hóa đơn bán hàng sau khi gộp
                        </span>
                        <small>Tính năng cho phép tự động xóa các hóa đơn bán hàng sau khi gộp, nếu không bật mặc định hệ thống không xóa và có hiển thị dòng cảnh báo khi gộp</small>
                    </div>
                    <div class="check-b">
                        <div class="content">
                        <span class="title">
                            Sử dụng tính năng xóa các hóa đơn bán hàng sau khi gộp
                        </span>
                        <label class="switch-custom">
                            <input type="checkbox" data-typevalue="BOOL" data-type="@EnumConfigParametersType.SELLINVOICE.ToString()" data-key="@EnumConfigParameters.DELETEIPUBLISHMERGEINVOICEAFTER.ToString()" data-parent="@EnumConfigParameters.PUBLISHMERGEINVOICE.ToString()" @DELETEIPUBLISHMERGEINVOICEAFTER>
                            <span class="slider"></span>
                        </label>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!--endTính năng xuất gộp-->
        @if (user.IdDichVu == EnumTypeProduct.AMTHUC)
        {
            <!--Tính năng cho phép in báo bếp-->
            <div class="item-row">
                <div class="item-col">
                    <div>
                        <span>
                            Cho phép in báo/hủy  chế biến món
                        </span>
                        <small>Tính năng cho phép khi nhấn thông báo sẽ in báo món chế biến, hoặc hủy chế biến,lưu ý: bạn cần cài đặt phần mềm <b>SposViet Kết nối </b><a href="https://fnb.sposviet.vn/download/SPOSVIET-PLUGINSetup.zip">Tại đây</a> </small>
                    </div>
                    <div class="check-b">
                        <div class="content">
                        <span class="title">
                            Sử dụng tính năng in báo/hủy  chế biến món
                        </span>
                        <label class="switch-custom">
                            <input type="checkbox" data-typevalue="BOOL" data-type="@EnumConfigParametersType.SELLINVOICE.ToString()" class="toggleConfigSaleParameter" data-parent="" data-key="@EnumConfigParameters.PRINT_BAO_BEP.ToString()" @(PRINT_BAO_BEP ? "checked" : "")>
                            <span class="slider"></span>
                        </label>

                    </div>
                    </div>
                </div>
                <div class="childrenconfig@(PRINT_BAO_BEP?"":" d-none")">
                    <div class="item-col">
                        <div>
                            <span>
                                In theo phương pháp kết nối gửi lệnh xuống phần mềm in
                            </span>
                            <small>Tính năng này cho phép khi nhân viên nhấn thông báo, hệ thống tự kết nối đến máy in đã cài đặt trên máy tính và có cái đặt phần mềm kết nối SposViet</small>
                        </div>
                        <div class="check-b">
                            <div class="content">
                            <span class="title">
                                Sử dụng tính năng in theo phương pháp kết nối gửi lệnh xuống phần mềm in
                            </span>
                            <label class="switch-custom">
                                <input type="checkbox" data-typevalue="BOOL" data-type="@EnumConfigParametersType.SELLINVOICE.ToString()" data-key="@EnumConfigParameters.PRINT_KET_NOI.ToString()" data-parent="@EnumConfigParameters.PRINT_BAO_BEP.ToString()" @PRINT_KET_NOI>
                                <span class="slider"></span>
                            </label>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tính năng cho phép khi hủy món chờ bếp xác nhận-->
            <div class="item-row">
                <div class="item-col">
                    <div>
                        <span>
                            Tính năng hủy món chờ bếp xác nhận
                        </span>
                        <small>Tính năng cho phép khi nhân viên nhấn hủy món, chờ 30s để bếp xác nhận có được hủy hay không, có hiển thị màn hình chờ </small>
                    </div>
                    <div class="check-b">
                        <div class="content">
                        <span class="title">
                            Sử dụng tính năng hủy món chờ bếp xác nhận
                        </span>
                        <label class="switch-custom">
                            <input type="checkbox" data-typevalue="BOOL" data-type="@EnumConfigParametersType.SELLINVOICE.ToString()" class="toggleConfigSaleParameter" data-parent="" data-key="@EnumConfigParameters.CANCEL_FOOD_PENDING_CONFIRM.ToString()" @(CANCEL_FOOD_PENDING_CONFIRM ? "checked" : "")>
                            <span class="slider"></span>
                        </label>

                    </div>
                    </div>
                </div>
            </div>
            <!--Tính năng cho phép mặc định mặt hàng khi thêm vào đơn-->
            <div class="item-row">
                <div class="item-col">
                    <div>
                        <span>
                            Mặc định hàng hóa khi tạo đơn
                        </span>
                        <small>Tính năng cho phép khi nhân viên nhấn tạo đơn, hệ thống tự động tạo đơn sẵn với các mặc hàng mặc định đã thiết lập </small>
                    </div>
                    <div class="check-b">
                        <div class="content">
                            <span class="title">
                                Sử dụng tính năng mặc định hàng hóa khi tạo đơn
                            </span>
                            <label class="switch-custom">
                                <input type="checkbox" data-typevalue="BOOL" data-type="@EnumConfigParametersType.SELLINVOICE.ToString()" class="toggleConfigSaleParameter" data-parent="" data-key="@EnumConfigParameters.DEFAULT_FOOD_CREATE_ORDER.ToString()" @(DEFAULT_FOOD_CREATE_ORDER ? "checked" : "")>
                                <span class="slider"></span>
                            </label>
                        </div>
                        <div class="infotab">
                            @if (DEFAULT_FOOD_CREATE_ORDER)
                            {
                                <a href="/Selling/Pos/DefaultFoodOrder" data-url="/Selling/DefaultFoodOrder" class="link-settingfunction">Đi đến thiết lập các mặt hàng > </a>
                            }
                            else
                            {
                                <a href="javascript:void(0)"  data-url="/Selling/DefaultFoodOrder" class="disabled link-settingfunction">Đi đến thiết lập các mặt hàng > </a>
                            }
                        </div>
                    </div>
                </div>
            </div>

        }
        <!--Tính năng cho phép chiết khấu hàng hóa của sau thuế-->
        <div class="item-row">
            <div class="item-col">
                <div>
                    <span>
                        Tính chiết khấu hóa đơn theo giá sau thuế
                    </span>
                    <small>Khi có chiết khấu hàng hóa, hệ thống dựa vào giá sau thuế để trừ chiết khấu</small>
                </div>
                <div class="check-b">
                    <div class="content">
                        <span class="title">
                            Sử dụng tính năng tính chiết khấu hóa đơn theo giá sau thuế
                        </span>
                        <label class="switch-custom">
                            <input type="checkbox" data-typevalue="BOOL" data-type="@EnumConfigParametersType.SELLINVOICE.ToString()" class="toggleConfigSaleParameter" data-parent="" data-key="@EnumConfigParameters.DISCOUNT_PRICE_AFTER_TAX.ToString()" @(DISCOUNT_PRICE_AFTER_TAX ? "checked" : "")>
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    @*<script src="~/lib/bootstrap4-toggle/bootstrap4-toggle.min.js"></script>*@
    <script>


        eventConfigSaleParameters.eventUpdatecheckbox();
    </script>
}