
@using Model
@model CustomerModel
<style>
    .modal-body {
        padding-top: 0
    }
</style>
<form id="create-form" method="post" asp-controller="Customer" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this)" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.Id)
    <div class="row">
        <div class="col-md-12">
            <div class="row" style="border-bottom: #ccc solid thin;">
                <div class="col-md-3" style="border-right:#ccc solid thin">
                    <div class="form-row">
                        <div class="col-md-12 text-center">
                            <div class="uploadImg mb-3 mt-3">
                                <label asp-for="ImageUpload" class="text-center" style="width: 100%;">Ảnh đại diện khách hàng <span class="required">(*)</span></label>
                                @if (Model.Image != null)
                                {
                                    @*<img id="imgCompany" class="mb-2 daidien"rc="data:image/*;base64,@Model.Image">*@
                                    <img id="imgCompany" class="mb-2 daidien" src="data:image/*;base64,@Model.Image">
                                }
                                else
                                {
                                    <img id="imgCompany" class="mb-2 daidien">
                                }
                                <div class="custom-file">
                                    <input accept=".png,.jpg,.jpeg,.gif,.tif"
                                           asp-for="ImageUpload"
                                           type="file" class="custom-file-input"
                                           onchange="document.getElementById('imgCompany').src = window.URL.createObjectURL(this.files[0])"
                                           id="customFile">
                                    <label class="custom-file-label text-left" for="customFile">Chọn ảnh đại diện khách hàng</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="uploadImg mb-3">
                                <label asp-for="Logo" class="text-center" style="width: 100%;">Logo</label>
                                @if (Model.Logo != null)
                                {
                                    <img id="logoCompany" class="mb-2 daidien" src="data:image/*;base64,@Model.Logo">
                                }
                                else
                                {
                                    <img id="logoCompany" class="mb-2 daidien">
                                }
                                <div class="custom-file filelogoCompany">
                                    <input accept=".png,.jpg,.jpeg,.gif,.tif"
                                           asp-for="LogoUpload"
                                           type="file" class="custom-file-input"
                                           onchange="document.getElementById('logoCompany').src = window.URL.createObjectURL(this.files[0])"
                                           id="customFilelogoCompany">
                                    <label class="custom-file-label lablelogoCompany text-left" for="customFile">Chọn logo khách hàng</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="border-right:#ccc solid thin">
                    <h4 class="font-weight-bold mt-3 mb-4">Thông tin công ty</h4>
                    <div class="form-row">

                        <div class="col-md-9">
                            <div class="position-relative form-group">
                                <label for="" class="col-form-label" asp-for="Name">Tên khách hàng</label> <span class="required">(*)</span>
                                <input asp-for="Name" placeholder="@Html.DisplayNameFor(m=>m.Name)" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="position-relative form-group">
                        <label for="exampleAddress" asp-for="Address" class=""></label> <span class="required">(*)</span>
                        <input placeholder="@Html.DisplayNameFor(m=>m.Address)" asp-for="Address" type="text" class="form-control">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-row">
                        <div class="col-md-5">
                            <div class="position-relative form-group">
                                <label for="exampleCity" class="" asp-for="Email"></label>
                                <input asp-for="Email" placeholder="@Html.DisplayNameFor(m=>m.Email)" type="email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label for="exampleState" class="" asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" placeholder="@Html.DisplayNameFor(m=>m.PhoneNumber)" class="form-control">
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-3">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="font-weight-bold mt-3 mb-4">Thông tin đăng nhập</h4>
                    </div>

                    <div class="position-relative form-group">
                        <label for="exampleAddress" asp-for="UserName" class=""></label> <span class="required">(*)</span>
                        <input placeholder="@Html.DisplayNameFor(m=>m.UserName)" asp-for="UserName" type="text" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="position-relative form-group">
                        <label for="exampleAddress" asp-for="Password" class=""></label> <span class="required">(*)</span>

                        @if (Model != null && Model.Id > 0)
                        {
                            <input placeholder="@Html.DisplayNameFor(m=>m.Password)" asp-for="Password"
                               type="Password" name="Password" id="Password" readonly disabled="disabled" class="form-control">
                        }
                        else
                        {
                            <input placeholder="@Html.DisplayNameFor(m=>m.Password)" asp-for="Password"
                               type="Password" name="Password" id="Password" class="form-control">
                        }


                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    @if (Model.Id == 0)
                    {
                        <div class="position-relative form-group">
                            <label for="exampleAddress" asp-for="ConfirmPassword" class=""></label> <span class="required">(*)</span>
                            <input placeholder="@Html.DisplayNameFor(m=>m.ConfirmPassword)" asp-for="ConfirmPassword" type="Password" class="form-control">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="form-group justify-content-between mt-3" style="margin-bottom: 0px !important">
        <div class="col-md-12">
            <div class="text-center">

                <button type="button" class="btn btn-secondary close-button" data-dismiss="modal"><i class="fas fa-close mr-2"></i>Hủy bỏ</button>

                <button class="ladda-button btn btn-success" data-style="expand-left">
                    <span class="ladda-label"><i class="fas fa-save mr-2"></i>Lưu</span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);

    $('#imgCompany').click(function () { $('#customFile').trigger('click'); });
    $("#customFile").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });


    $('#logoCompany').click(function () { $('#customFilelogoCompany').trigger('click'); });
    $("#customFilelogoCompany").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".lablelogoCompany").addClass("selected").html(fileName);
    });
</script>
