@model Domain.Entities.OrderTable

<div class="list-historyorderpos">
    @{
        var listhis = Model != null ? Model.HistoryOrders.GroupBy(x => x.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")):null;
    }
    @if (listhis!=null && listhis.Count()>0)
    {
          <div class="sposvietbackgroud">
            <span class="bgnen"></span>
        @foreach (var item in listhis)
        {
            <div class="header-po">
                <small>Thời gian</small>
                @if (item.First().CreateDate.Date == DateTime.Now.Date)
                {
                    <b>@item.First().CreateDate.ToString("HH:mm:ss")</b>
                }
                else
                {
                    <b>@item.First().CreateDate.ToString("dd/MM/yyyy HH:mm:ss")</b>
                }
                <small> thực hiện bởi</small> <span>@item.First().Carsher</span>
            </div>
            <ul>
                @foreach (var hisDetail in item)
                {
                    if (hisDetail.Quantity > 0)
                    {
                        if (hisDetail.TypeKitchenOrder == Application.Enums.EnumTypeKitchenOrder.CHUYEN)
                        {
                            <li class="addFood">
                                <small class="text-warning">(Chuyển món)</small>
                                <span class="text-warning">@hisDetail.Name<br/><i class="red">@hisDetail.Note</i></span>
                            </li>
                        }
                        else if (hisDetail.TypeKitchenOrder == Application.Enums.EnumTypeKitchenOrder.GHEP)
                        {
                            <li class="addFood">
                                <small class="text-warning">(Ghép món)</small>
                                <span class="text-warning">@hisDetail.Name</span>
                            </li>
                        }
                        else
                        {
                                <li class="addFood">  <small>(Thêm món)</small> <span >@hisDetail.Name

                                        @if (!string.IsNullOrEmpty(hisDetail.Note))
                    {
                                            

                                            <small class="red ml-3">(@hisDetail.Note)</small>
                                        }
                                   
                                    </span></li>
                        }

                    }
                    else
                    {

                        <li class="removeFood">
                            @if (hisDetail.TypeKitchenOrder == Application.Enums.EnumTypeKitchenOrder.CHUYEN)
                            {
                                <small class="text-warning">(Chuyển món)</small>
                                <span class="text-warning">@hisDetail.Name</span>
                            }
                            else
                            {
                                <small>(Hủy món)</small>
                                @hisDetail.Name
                            }
                        </li>
                    }
                }
            </ul>
        }
        </div>
    }
    else
    {
        <div class="sposvietbackgroud">
            <span class="bgnen"></span>
            <p>Bàn chưa có món nào đã báo bếp</p>
        </div>
       
    }

</div>
