@using Application.Enums
@model Web.ManagerApplication.Areas.Selling.Models.SplitOrderModelView
@if (Model.TypeSpitOrder == EnumTypeSpitOrder.Graft)
{
    <table class="table table-bordered">
        <thead class="">
            <tr>
                <th class="text-center">Chọn <input type="checkbox" class="icheck" /></th>
                <th>Khách hàng</th>
                <th class="text-center">Mã đơn</th>
                <th class="text-center">Số lượng</th>
                <th class="text-right">Tổng tiền</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.OrderTables)
            {
                 <tr data-id="@item.IdGuid">
                    <td class="text-center"><input type="checkbox" name="orderName" class="icheck" /></td>
                    <td>@(item.IsRetailCustomer ? "Khách lẻ" : item.Customer.Name)</td>
                    <td class="text-center">@item.OrderTableCode</td>
                    <td class="text-center number3">@item.Quantity.ToString().Replace(",",".")</td>
                    <td class="text-right number3"><b>@item.Amonut.ToString().Replace(",",".")</b></td>
                </tr>
            }
            @if (Model.OrderTables.Count() == 0)
            {
                <tr>
                    <td colspan="5">
                        Chưa có đơn nào
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-bordered">
        <thead class="">
            <tr>

                <th>Tên món</th>
                <th class="text-center">Số lượng đơn gốc</th>
                <th class="text-center">Số lượng còn lại</th>
                <th class="text-center">Số lượng cần tách</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in Model.OrderTable.OrderTableItems)
            {
                <tr data-id="@item.IdGuid">
                    <td>@(i++) @item.Name</td>
                    <td class="text-center number3">@item.Quantity.ToString().Replace(",",".")</td>
                    <td class="text-center quantity number3" data-old="@item.Quantity.ToString().Replace(",",".")" data-id="@item.Quantity.ToString().Replace(",",".")">@item.Quantity</td>
                    <td class="text-center quantitySplit">
                        <div class="lst-action">
                            <i class="fas fa-minus"></i>
                            <b class="quantyti-new" data-id="0">0</b>
                            <i class="fas fa-plus"></i>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
