@model Web.ManagerApplication.Areas.Selling.Models.OrderTableViewModel
@{
    bool isCus = false;
    string _clas = string.Empty;
    if (Model.OrderTables.Count() > 0)
    {
        if (Model.OrderTables[0].Customer != null)
        {
            _clas = $"{Model.OrderTables[0].Customer.Code} {Model.OrderTables[0].Customer.Name}";
        }
    }
}
<ul class="tabs-animated-shadow tabs-animated nav" id="ul-tab-order">
    @foreach (var item in Model.OrderTables)
    {
        <li class="nav-item">
            <a role="tab" class="nav-link" data-id="@item.IdGuid" data-idstaff="@item.IdStaff" data-toggle="tab" href="#tab-order-@item.Id">
                <span class="orderCode">@item.OrderTableCode</span>
                <span class="btn-removeTab"><i class="fas fa-times"></i></span>
            </a>
        </li>
    }
    @if (Model.OrderTables.Count() == 0)
    {
        <li class="nav-item" data-title="newtab">
            <a role="tab" class="nav-link" data-toggle="tab" data-idstaff="-1" href="#tab-order-0">
                <span class="orderCode">OD-New</span>
                @*<span>OD-@Model.OrderTableCode</span>*@
                <span class="btn-removeTab"><i class="fas fa-times"></i></span>
            </a>
        </li>
    }
    <li class="add-tab">
        <i class="fas fa-plus"></i>
    </li>
</ul>
<div class="cashier-payment-info-top">
    <button data-id="" class="btn btn-info btn-showttable"><i class="fas fa-table mr-2"></i><span class="showTableOrder"></span></button>
    <div class="input-group box-data-customer">
        <div class="input-group-append btnsearch">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>

        <input type="text" value="@_clas" class="form-control search-customer" placeholder="Tìm khách hàng (F4)">

        <div class="input-group-append btnadd">
            <span class="input-group-text btn-addCus"><i class="fas fa-plus"></i></span>
            <span class="input-group-text btn-cleardata"><i class="fas fa-times"></i></span>
        </div>
    </div>
    <button class="btn btn-primary btn-sort"><i class="fas fa-ellipsis-v"></i></button>
    <button class="btnfullScreen btn"><i class="fas fa-expand"></i></button>
</div>
<div class="tab-content tab-content-order">
    @foreach (var items in Model.OrderTables)
    {
        <div class="tab-pane " id="tab-order-@items.Id" data-id="@items.IdGuid" role="tabpanel">
            <ul id="item-mon">
                @{
                    int i = 1;
                }
                @foreach (var item in items.OrderTableItems)
                {
                    decimal privenew = 0;
                    //không sài cài này vì lấy luôn giá sau thuế trừ rồi lấy giá đó  làm giá sau thuế
                   @* if (item.IsVAT && item.DiscountAmount!=0)//nếu có thuế và có ck thì đơn giá khác
                    {
                        privenew = item.PriceNoVAT - item.DiscountAmount;
                    }*@
                   @* if (item.DiscountAmount != 0)
                    {
                        privenew = item.Price - item.DiscountAmount;
                    }
                    else
                    {
                        privenew = item.Price;
                    }*@
                   
                    <li class="itemorder@(item.IsServiceDate?" isServiceDate":"")"
                        data-procode="@item.Code"
                        data-id="@item.IdGuid"
                        data-idorder="@item.IdOrderTable"
                        data-isservicedate="@(item.IsServiceDate?1:0)"
                        data-datecreateservice="@item.DateCreateService"
                        data-dateendservice="@item.DateEndService"
                    data-idpro="@item.IdProduct" 
                    data-slNotify="@item.QuantityNotifyKitchen.ToString("0.###").Replace(",",".")" data-sl="@item.Quantity.ToString("0.###").Replace(",",".")">
                        <div data-idquan="@item.Quantity.ToString().Replace(",",".")" class="btn-remove"><i data-idquan="@item.Quantity.ToString("0.###").Replace(",",".")" class="fas fa-trash-alt"></i></div>
                        <div class="name">
                            <b>@(i++). @item.Name @(item.IsVAT ? Html.Raw("<i class='fas fa-percent'></i>") : "")</b>
                            @if (item.IsServiceDate)
                            {
                                <button class="btnServicedate" data-datecreateservice="@item.DateCreateService"><i class="fas fa-clock"></i> <span class="valuetime">@item.DateCreateService.Value.ToString("HH:mm")</span></button>
                            }
                            
                            <button class="note @(!string.IsNullOrEmpty(item.Note)?"active":"")" data-note="@item.Note">
                                <i class="far fa-sticky-note"></i>

                                @if (!string.IsNullOrEmpty(item.Note))
                                {
                                    <span class="text">@item.Note</span>
                                }
                                else
                                {
                                    <span class="text">Thêm ghi chú</span>
                                }
                            </button>
                        </div>
                        <div class="item_action@(item.IsServiceDate?" disabled":"")">
                            <i class="fas fa-minus"></i>
                            <input class="quantity numberformat" @(item.IsServiceDate ? "readonly" : "") value="@item.Quantity.ToString("0.###").Replace(",",".")"> <i class="fas fa-plus"></i>
                        </div>
                        <div class="elePrice">
                            <input type="text"
                            data-isvat="@item.IsVAT"
                            data-pricenovat="@item.PriceNoVAT"
                            data-price="@(item.PriceOld??item.Price)"
                            data-pricenew="@item.Price" 
                            data-discount="@item.Discount"
                            data-discountamount="@item.DiscountAmount"
                           data-typediscount="@(item.Discount != 0 ? (int)Application.Enums.EnumTypeDiscount.DISCOUNT : (int)Application.Enums.EnumTypeDiscount.CASH)"
                                   class="form-control number3 price"  readonly value="@item.Price.ToString("F3")" />
                            @if (item.Discount != 0)
                            {
                                <span class='discounttxt'>-@(item.Discount.ToString())%</span>
                            }
                            else if (item.DiscountAmount != 0)
                            {
                                <span class='discounttxt number3'>-@(item.DiscountAmount.ToString())</span>
                            }

                        </div>
                        <div class="amount">
                            <b class="number3 valueamount">@item.Amount.ToString("N0")</b>
                            <button class="CloneItem"><i class="fas fa-plus"></i></button>
                        </div>

                    </li>
                }
            </ul>
        </div>
    }
    @if (Model.OrderTables.Count() == 0)
    {
        <div class="tab-pane " id="tab-order-0" role="tabpanel">
            <div class="no-order">
                <img src="~/images/ristorante_old.png" />
                <b>Chưa có món nào được chọn</b>
                <span>Vui lòng chọn món trong thực đơn</span>
            </div>
        </div>
    }
</div>
