@model Web.ManagerApplication.Areas.Selling.Models.OrderTableViewModel
@{
    string _clas = string.Empty;
}


<div class="tab-content-itemorder">
    @{
        int i = 1;
    }
    @if (Model.OrderTable!=null)
    {
        if (Model.OrderTable.OrderTableItems!=null)
        {
            <ul id="item-mon">
            @foreach (var item in Model.OrderTable.OrderTableItems)
            {

                    <li data-id="@item.IdGuid" data-idpro="@item.IdProduct" data-slNotify="@item.QuantityNotifyKitchen.ToString("0.###").Replace(",",".")" data-sl="@item.Quantity.ToString("0.###").Replace(",",".")">
                        <div data-idquan="@item.Quantity.ToString("0.###").Replace(",",".")" class="btn-remove"><i data-idquan="@item.Quantity.ToString("0.###").Replace(",",".")" class="fas fa-trash-alt"></i></div>
                    <div class="name"><b>@(i++). @item.Name</b></div>

                        <div class="item_action"><i class="fas fa-minus"></i><input class="quantity numberformat" value="@item.Quantity.ToString("0.###").Replace(",",".")" /> <i class="fas fa-plus"></i></div>
                        <div class="ele-price"><input type="text" class="form-control priceFormat price" readonly data-price="@item.Price.ToString().Replace(",",".")" value="@item.Price.ToString("0.###").Replace(",",".")" /></div>
                        <div class="total"><b class="priceFormat" data-total="@item.Total.ToString("0.###").Replace(",",".")">@item.Total.ToString("0.###").Replace(",",".")</b></div>
                </li>
            }
        </ul>
        }
         
    }
   

    @*
    @if (Model.OrderTables.Count() == 0)
    {
    <div class="tab-pane " id="tab-order-0" role="tabpanel">
    <div class="no-order">
    <img src="~/images/ristorante.png" />
    <b>Chưa có món nào được chọn</b>
    <span>Vui lòng chọn món trong thực đơn</span>
    </div>
    </div>
    }*@
</div>
