
@using Application.Enums
@model Web.ManagerApplication.Areas.Selling.Models.PaymentModelView

<div class="payment-staff">
    <div class="header-payment title-header-staff">
        <button class="btn-back"><i class="fas fa-arrow-left"></i></button>
        <span>Thanh toán đơn</span>
    </div>
   <div class="bodypay">
        <div class="row">
            <div class="col-md-8">
                @if (Model.OrderTable.IsRetailCustomer)
                {
                    <h5 class="infocus"><i class="fas fa-users"></i> @Model.OrderTable.Buyer</h5>
                }
                else
                {
                    <h5 class="infocus"><i class="fas fa-users"></i> @Model.OrderTable.Customer.Code -@Model.OrderTable.Customer.Name</h5>
                }
                <h5 class="infocus"><i class="fas fa-table"></i> Tên bàn: @Model.OrderTable.RoomAndTable?.Name</h5>
                <h5 class="infocus"><i class="fas fa-clock"></i> Giờ vào: @Model.OrderTable.CreatedOn.ToString("dd/MM/yyyy HH:mm:ss")</h5>
                <h6 class="mt-3 font-weight-bold">Chi tiết món</h6>
                <table class="table table-bordered" id="dataTablePayment">
                    <thead>
                        <tr>
                            <th>Tên hàng hóa</th>
                            <th class="text-center">S.Lượng</th>
                            <th class="text-right">D.Giá</th>
                            <th class="text-right">T.Tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var item in Model.OrderTable.OrderTableItems.GroupBy(x => x.IdProduct))
                        {
                            <tr>
                               @* <td class="text-rcenter">@(i++)</td>*@
                                <td>@item.First().Name @(item.First().IsVAT ? Html.Raw("<i class='fas fa-percent productpercent'></i>") : "")</td>
                                <td class="text-center">@string.Format("{0:0.##}",item.Sum(x=>x.Quantity)).Replace(",",".")</td>
                               
                                <td class="number3 text-right">@item.First().Price.ToString("0.###").Replace(",",".")</td>
                                <td class="number3 text-right totalpro">@item.Sum(x=>x.Amount).ToString("0.###").Replace(",",".")</td>

                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="1" class="text-right font-weight-bold">Tổng</td>
                            <td class="text-center font-weight-bold">@string.Format("{0:0.###}",Model.OrderTable.OrderTableItems.Sum(x=>x.Quantity)).Replace(",",".")</td>
                            <td class="text-center "></td>
                            <td class="text-right font-weight-bold number3">@Model.OrderTable.OrderTableItems.Sum(x=>x.Amount).ToString("0.###").Replace(",",".")</td>

                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-info-pay">

                    <tr>
                        <th>Tổng tiền (@Model.OrderTable.Quantity.ToString("0.###").Replace(",","."))</th>
                        <td class="number3 totalPayment text-right">
                            @Model.OrderTable.Amonut.ToString("0.###").Replace(",",".")
                        </td>
                    </tr>

                    <tr>
                        <th>Giảm giá </th>
                        <td style="position: relative;">
                            <input type="text" value="0" id="discountPayment" class="form-control text-right number3" />
                        </td>
                    </tr>

                    <tr>
                        <th>Khách cần trả</th>
                        <td class="text-right"><b class="amountPayment number3">@Model.OrderTable.Amonut.ToString("0.###").Replace(",",".")</b></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="paymentMethod">
                            <fieldset>
                                <legend>Hình thức thanh toán</legend>
                                @foreach (var item in Model.PaymentMethods)
                                {
                                    <div class="form-check mb-2">
                                        <input class="form-check-input icheckpayment icheck" type="radio" data-id="@item.Id" checked="@(item.Code=="TM"?true:false)" type="radio" name="idPaymentMethod" id="flexRadioDefault@(item.Id)">
                                        <label class="form-check-label" for="flexRadioDefault@(item.Id)">
                                            @item.Name
                                        </label>
                                    </div>
                                }
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
   </div>
    <div class="footerfix-staff">
        <button class="btn-checkout" data-idorder="@Model.OrderTable.IdGuid"><i class="fas fa-check-double"></i> Thanh toán</button>
    </div>
</div>