@using Web.ManagerApplication.Areas.Admin.Models
@model PermissionViewModel
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <form asp-controller="Roles" method="post" asp-action="UpdateRole" class="d-inline">
            <input asp-for="@Model.RoleId" type="hidden" />
            <table class="table table-bordered" id="tablePermissionRole">
                <thead>
                    <tr>
                        <th>Tên role: @Model.RoleName</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul class="ul_block">
                                @for (int i = 0; i < Model.RoleClaims.Count(); i++)
                                {
                                                <li>
                                                    <input asp-for="@Model.RoleClaims[i].Name" type="hidden" />
                                                    <input asp-for="@Model.RoleClaims[i].Value" type="hidden" />
                                                    <div class="custom-control custom-checkbox mb-3">
                                                        <input asp-for="@Model.RoleClaims[i].Selected" class="custom-control-input" id="customCheck@(@Model.RoleClaims[i].Value)" />
                                                        <label class="custom-control-label" for="customCheck@(@Model.RoleClaims[i].Value)">@Model.RoleClaims[i].Name</label>
                                                    </div>
                                                </li>
                                }
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-sm-12" style="padding: 20px 20px 0px 0px">
                <button type="submit" id="save" class="btn bg-success">
                    <i class="fa fa-check"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
