@using Domain.Identity;
@using Web.ManagerApplication.Views.Shared.Components.Culture;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHtmlLocalizer<SharedResource> localizer
@{
    var user = await UserManager.GetUserAsync(User);
}
<div class="app-header header-shadow">
    <div class="app-header__logo">
        <div class="logo-src">
            <img src="~/images/logo1.png" />
        </div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="app-header__content">
        <div class="app-header-left">
            <ul class="header-menu nav">
                <li class="btn-group nav-item">
                    @if (user.IdDichVu == Application.Enums.EnumTypeProduct.BAN_LE || user.IdDichVu == Application.Enums.EnumTypeProduct.TAPHOA_SIEUTHI|| user.IdDichVu == Application.Enums.EnumTypeProduct.THOITRANG)
                    {
                        <a href="/Selling/SaleRetail" class="nav-link">
                            <i class="nav-link-icon fa fa-edit"></i>
                            Bán hàng tại quầy
                        </a>
                    }
                    else
                    {
                         <a href="/Selling/Pos" class="nav-link">
                        <i class="nav-link-icon fa fa-edit"></i>
                        Bán hàng tại quầy
                    </a>
                    }
                   
                </li>
            </ul>
        </div>
        @if (User.Identity.IsAuthenticated)
        {

            
            <!-- Nav Item - User Information -->
            <div class="app-header-right">
                <div class="header-btn-lg pr-0">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="btn-group">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                        @if (user.ProfilePicture != null)
                                        {
                                            <img class="img-profile rounded-circle" style="object-fit: cover; width: 30px; height: 30px;" src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePicture))">
                                        }
                                        else
                                        {
                                            <img class="img-profile rounded-circle" style="object-fit: cover; width: 30px; height: 30px;" src="~/images/default-user.png">
                                        }
                                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                    </a>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right profile" style="">
                                        <div class="dropdown-menu-header">
                                            <div class="dropdown-menu-header-inner bg-info">

                                                <div class="menu-header-image opacity-2" style="background-image: url('~/assets/images/dropdown-header/city3.jpg');"></div>

                                                <div class="menu-header-content text-left">
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-3">


                                                                @if (user.ProfilePicture != null)
                                                                {
                                                                    <img width="42" height="42" class="rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePicture))" alt="">
                                                                }
                                                                else
                                                                {
                                                                    <img width="42" height="42" class="rounded-circle" src="~/images/default-user.png">
                                                                }
                                                            </div>
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading text-white">
                                                                    @if (!string.IsNullOrEmpty(user.FullName))
                                                                    {
                                                                        @user.FullName
                                                                    }
                                                                    else
                                                                    {
                                                                        @user.FirstName @user.LastName
                                                                    }
                                                                </div>
                                                                <div class="widget-subheading opacity-8">@user.UserName</div>
                                                            </div>
                                                            <div class="widget-content-right mr-2">
                                                                <a href="#" data-toggle="modal" data-target="#logoutModal">
                                                                    <button class="btn-pill btn-shadow btn-shine btn btn-focus"><i class="fas fa-sign-out-alt mr-2" style=""></i> Đăng xuất</button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="scroll-area-xs" style="height: auto;">
                                            <div class="scrollbar-container ps">
                                                <ul class="nav flex-column">

                                                    <li class="nav-item">
                                                        <a asp-area="Identity" asp-page="/Profile" asp-route-userId="@UserManager.GetUserId(User)" class="nav-link">
                                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                            Thông tin cá nhân
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link">
                                                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                                            Cấu hình tài khoản
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a asp-area="Identity" asp-page="/Account/AuditLog" class="nav-link">
                                                            <i class="fas fa-history text-gray-400 mr-2"></i>
                                                            Lịch sử hoạt động
                                                        </a>
                                                    </li>  
                                                    <li class="nav-item">
                                                        <a  href="/manifest.webmanifest" class="nav-link">
                                                            <i class="fas fa-history text-gray-400 mr-2"></i>
                                                            Reset cài đặt app
                                                        </a>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>

                                    </div>
                                    @*<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Profile" asp-route-userId="@UserManager.GetUserId(User)">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Thông tin cá nhân
                                        </a>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cấu hình tài khoản
                                        </a>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/AuditLog">
                                        <i class="fas fa-history text-gray-400 mr-2"></i> Lịch sử hoạt động
                                        </a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt mr-2" style=""></i> Đăng xuất
                                        </a>
                                        </div>*@
                                </div>
                            </div>
                            <div class="widget-content-left  ml-3 header-user-info">
                                <div class="widget-heading">
                                    @if (!string.IsNullOrEmpty(user.FullName))
                                    {
                                        @user.FullName
                                    }
                                    else
                                    {
                                        @user.FirstName @user.LastName
                                    }

                                </div>

                                <div class="widget-subheading">
                                    (@user.UserName)
                                </div>

                            </div>
                            @*<div class="widget-content-right header-user-info ml-3">
                                <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                </button>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
